.DS_Store
.git
.idea
.vscode/*
!.vscode/settings.json
*.code-workspace
node_modules
nbproject
python_modules

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

# ioBroker dev-server
.dev-server/

# python venv
env/

# Exclude commitinfo file
.commitinfo
