/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box
	}

.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
	}

.m.adapter-container,
.m.adapter-container > div.App {
	/* Fix layout/scrolling issues with tabs */
	height: 100%;
	width: 100%;
	position: relative;
	}

.m .select-wrapper + label {
	/* The positioning for dropdown labels is messed up */
	transform: none !important;
	}

label > i[title] {
	/* Display the help cursor for the tooltip icons and fix their positioning */
	cursor: help;
	margin-left: 0.25em;
	}

.dropdown-content {
	/* Don't wrap text in dropdowns */
	white-space: nowrap;
	}

/*logo Section */
.logo {
	width: 100px !important;
	}

.help-link {
	position: absolute !important;
	right: 10px !important;
	}

/* Add your styles here */

.center-led {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

.led-green {
	background-color: #86d686;
	}

.led-gray {
	background-color: #bababa;
	}

.led-red {
	background-color: #ff0000;
	}

.led-all {
	border-radius: 50%;
	box-shadow: #555d0d 0 0 1px 1px, #446f44 0 0 0, inset #e44949 0 0 0;
	height: .9em;
	width: .9em;
	}

.break-word {
	word-wrap: break-word;
	}

.info {
	background-color: #f8f8f8;
	}

.warning {
	background-color: #ffff00;
	}

.error {
	background-color: #ff0000;
	}

.input_field {
	margin-top: -15px !important;
	}